/*//profile.php and collections.php*/
.collectionInsert{
	

	top:0px;
	left:0vw;
	width:100%;
}
#collectionGrid{
	background-color:white;
	width:90%;
}
#deleteX{
	background-color:white;
	margin:6px;
	height:30px;
	width:30px;
	opacity:0.5;
	right:0;
	position:absolute;
	z-index:100;
}
#colSquare{
	margin:7px;
	width:150px;
	height:150px;
	background-color:dodgerblue;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	float:left;
}
#colName{
	font-size:30px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color:powderblue;
}
#addButton{
	margin:7px;
	width:150px;
	height:150px;
	background-color:whitesmoke;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	float:left;
}
#addButtonText{
	font-size:30px;
	position: relative;
	top: 50%;
	transform: translateY(10%);
	color:grey;
}
/*//photos.php*/
#hi{
	position:relative;
	top:-50px;
}
#imageSquare{
	margin:7px;
	width:150px;
	height:150px;
	background-color:skyblue;
	float:left;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	overflow:hidden;
}
/*//image.php*/
#imageBox{
	position:relative;
	background-color:
	white; z-index:2;
	width:550px;
	height:500px;
	top:-20px;
	left:-20px;
	padding:7px;
	padding-top:10px;
}
#mainImage{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#commentHolder{
	border:solid;
	border-color:lightgrey;
	background-color: white;
	position: relative;
	padding:10px; 
	width:540px;
	height:350px;
	top:-10px;
	left:-19px;
}
#commentScroll{
	overflow:scroll;
	position:absolute;
	text-align: left;
	height: 275px;
	width:520px;
}