@charset "utf-8";
/*
 * CSS Document
 * Written by Ryan Yonzon
 * http://ryan.rawswift.com/
 */
 
/*
 * IE hack 
 */

/*
#main_container {
	width:100%; 
	background-color:#ffffff;
	overflow-y: scroll;
}
*/